html,
body {
  margin: 0;
  padding: 0;
  font-family:  'Oswald', sans-serif;
  background: #f3f3fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-smartphone-fill {
  color: #ff9900;
  font-size: 2rem;
}

.mobile-img {
  width: 80%;
}


.ri-shopping-cart-line:hover,
.mobile-header:hover {
  padding: .2em .3em;
  border: 1.5px solid rgba(242, 244, 246, .9);
  border-radius: 20px ;
}


.ri-add-circle-line,
.ri-shopping-cart-fill{
  margin-left: .5em;
  padding: .2em .2em;
  border-radius: 10px;
  background-color: #d3d3d6;
}

.ri-add-circle-line {
  color: #0f171e;
}

.ri-shopping-cart-fill {
  color: #ff9900;
}

/*============
=== Layout ===*/

.container {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
}

.carousel-container {
  margin-bottom: 3em;
  background:  #f3f3fa;
  border-radius: 10px;
}

.carousel-container img {
 margin: auto;
}

.carousel-container:focus {
  outline: none;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #0f171e;
  border-radius: 5px;
  padding: 1em 3em;
  
}

.card {
  display: inline-flex;
  width: 30%;
  margin: 0 2em 3em 6.5em;
  border-radius: 10px;
}
 .card:hover {
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);;
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: #0f171e;
  border-radius: 5px;
  padding: 1em 3em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(242, 244, 246, .9);
}

.footer-media {
  display: inline-flex;
  margin-top: 1em;
}

.footer-media i {
  margin-left: .7em;
  margin-right: .2em ;
  font-size: 1rem;
}

.footer-media i:hover {
  color: #ff9900;
}

.footer-rights p {
  margin: 0;
  text-align: center;
  font-size: .6rem;
}

/*================
=== Typography ===*/

a,
a:hover{
  text-decoration: none;
  color: rgba(242, 244, 246, .9);
}

a:focus,
  active {
    color: #787879e6;
  }
                          

.mobile-header {
  font-size: 2rem;
  position: absolute;
}

.products {
  position: relative;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #0f171e;
  padding: 1em 0;
}

.products:before {
  content: '';
  position: absolute;
  width: 20%;
  height: 7px;
  top: 15px;
  left: 40%;
  background-color: rgba(120, 120, 121, 0.9);
}

.mobile-title {
  text-align: center;
  font-size: 1.7rem;
 
}

.mobile-info {
  font-size: .9rem;
  text-align: center;
  padding: 0 .5em;
}

.mobile-price {
  padding-right: 1em;
  text-align: right;
  text-decoration: bold;
  font-size: 1.3rem;
  margin: 0;
}




